<% include ./share/_head.html %>
<body>
    <!--头部-->
    <% include ./share/_header.html %>
    <div class="content-wrapper">
        <div class="container">
            <div class="content-top">
                <!--左侧菜单-->
                <div class="top-left-box">
                    <% include ./common/menuAside.html %>
                </div>
                <div class="top-right-box">
                    <div class="carousel-box"></div>
                    <div class="notice-box">
                        <div class="icon"></div>
                        <div class="text-box">
                            111按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生按时打算发发生
                        </div>
                    </div>
                    <div class="row">
                        <% include ./common/gamePlayBox.html %>
                        <div class="services-box">
                            <div class="services-title">
                                <span class="icon"></span>手机客户端下载
                            </div>
                            <div class="services-top">
                                <div class="qr"></div>
                                <div class="btn-group">
                                    <button type="button" class="iphone"><span class="iphone-icon"></span> <span class="text">iPhone 下载</span></button>
                                    <button type="button" class="android"><span class="android-icon"></span> <span class="text">Android下载</span></button>
                                </div>
                            </div>
                            <div class="services-bottom">
                                <div class="switch-tab-box">
                                    <div class="switch-tab-item selected">网站公告</div>
                                    <div class="switch-tab-item">新手指导</div>
                                </div>
                                <div class="tab-box">
                                    <div class="tab-1 tab-item">
                                        <a href="javascript:;">按时打算发发生</a>
                                        <a href="javascript:;">按时打算发发生</a>
                                        <a href="javascript:;">按时打算发发生</a>
                                    </div>
                                    <div class="tab-2 tab-item"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-bottom">
                <div class="row">
                    <div class="win-wrapper">
                        <div class="win-title">最新中奖榜</div>
                        <div class="win-list-box">
                            <div class="th">
                                <span>用户名</span>
                                <span>奖金</span>
                            </div>
                            <div class="win-list">
                                <div class="item">
                                    <span class="rank">66</span>
                                    <span class="name">sdqw</span>
                                    <span class="price"><span class="text-red">1093</span>元</span>
                                </div>
                                <div class="item">
                                    <span class="rank">66</span>
                                    <span class="name">sdqw</span>
                                    <span class="price"><span class="text-red">1093</span>元</span>
                                </div>
                                <div class="item">
                                    <span class="rank">66</span>
                                    <span class="name">sdqw</span>
                                    <span class="price"><span class="text-red">1093</span>元</span>
                                </div>
                                <div class="item">
                                    <span class="rank">66</span>
                                    <span class="name">sdqw</span>
                                    <span class="price"><span class="text-red">1093</span>元</span>
                                </div>
                                <div class="item">
                                    <span class="rank">66</span>
                                    <span class="name">sdqw</span>
                                    <span class="price"><span class="text-red">1093</span>元</span>
                                </div>
                                <div class="item">
                                    <span class="rank">66</span>
                                    <span class="name">sdqw</span>
                                    <span class="price"><span class="text-red">1093</span>元</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="information-wrapper">
                        <div class="information-title">主题游戏</div>
                        <div class="information-content">
                            <div class="top-line"><a href="javascript:;">啊实打实大沙发沙发</a></div>
                            <ul class="news-list">
                                <li class="news-item"><a href="#"><span class="text">技巧</span><span class="divide-line">|</span> 时时彩技巧：如何根据定位胆选号</a></li>
                                <li class="news-item"><a href="#"><span class="text">技巧</span><span class="divide-line">|</span> 时时彩技巧：如何根据定位胆选号</a></li>
                                <li class="news-item"><a href="#"><span class="text">技巧</span><span class="divide-line">|</span> 时时彩技巧：如何根据定位胆选号</a></li>
                                <li class="news-item"><a href="#"><span class="text">技巧</span><span class="divide-line">|</span> 时时彩技巧：如何根据定位胆选号</a></li>
                                <li class="news-item"><a href="#"><span class="text">技巧</span><span class="divide-line">|</span> 时时彩技巧：如何根据定位胆选号</a></li>
                                <li class="news-item"><a href="#"><span class="text">技巧</span><span class="divide-line">|</span> 时时彩技巧：如何根据定位胆选号</a></li>
                            </ul>
                        </div>
                    </div>
                    <% include ./common/lotteryLog.html %>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    <% include ./share/_footer.html %>
</body>
<% include ./share/_foot.html %>