<link rel="stylesheet" type="text/css" href="/css/lotteryLog.css">

<div class="lotteryLog-wrapper">
    <div class="lotteryLog-switch-box">
        <span class="switch-item selected">热门开奖</span>
        <span class="switch-item">高频开奖</span>
        <span class="switch-item">低频开奖</span>
    </div>
    <div class="lotteryLog-content">
        <div class="lotteryLog-list">
            <div class="lotteryLog-item">
                <div class="item-left">
                    <div class="lottery-name">重庆时时彩</div>
                    <div class="lottery-number">201808123</div>
                    <div class="lottery-time">2018-08-04</div>
                </div>
                <div class="item-right">
                    <div class="lottery-round">2018080123期</div>
                    <div class="btn-group">
                        <a href="javascript:;">详情</a>
                        <a href="javascript:;">走势</a>
                        <a href="javascript:;">投注</a>
                    </div>
                </div>
            </div>
            <div class="lotteryLog-item">
                <div class="item-left">
                    <div class="lottery-name">重庆时时彩</div>
                    <div class="lottery-number">201808123</div>
                    <div class="lottery-time">2018-08-04</div>
                </div>
                <div class="item-right">
                    <div class="lottery-round">2018080123期</div>
                    <div class="btn-group">
                        <a href="javascript:;">详情</a>
                        <a href="javascript:;">走势</a>
                        <a href="javascript:;">投注</a>
                    </div>
                </div>
            </div>
            <div class="lotteryLog-item">
                <div class="item-left">
                    <div class="lottery-name">重庆时时彩</div>
                    <div class="lottery-number">201808123</div>
                    <div class="lottery-time">2018-08-04</div>
                </div>
                <div class="item-right">
                    <div class="lottery-round">2018080123期</div>
                    <div class="btn-group">
                        <a href="javascript:;">详情</a>
                        <a href="javascript:;">走势</a>
                        <a href="javascript:;">投注</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>