<link rel="stylesheet" type="text/css" href="/css/menuAside.css" />

<aside class="aside-menu">
    <div class="aside-top">
        <div class="game-group">
            <div class="icon"></div>
            <div class="game-info">
                <div class="name">重庆时时彩</div>
                <div class="text">奥术大师大</div>
            </div>
        </div>
        <div class="game-group">
            <div class="icon"></div>
            <div class="game-info">
                <div class="name">重庆时时彩</div>
                <div class="text">奥术大师大</div>
            </div>
        </div>
        <div class="game-group">
            <div class="icon"></div>
            <div class="game-info">
                <div class="name">重庆时时彩</div>
                <div class="text">奥术大师大</div>
            </div>
        </div>
        <div class="game-group">
            <div class="icon"></div>
            <div class="game-info">
                <div class="name">重庆时时彩</div>
                <div class="text">奥术大师大</div>
            </div>
        </div>
    </div>
    <div class="aside-sort">
        <div class="icon-box">
            <div class="icon icon-high"></div>
            <div class="text">高频彩</div>
        </div>
        <div class="sort-right">
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
        </div>
    </div>
    <div class="aside-sort">
        <div class="icon-box">
            <div class="icon icon-low"></div>
            <div class="text">低频彩</div>
        </div>
        <div class="sort-right">
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
        </div>
    </div>
    <div class="aside-sort">
        <div class="icon-box">
            <div class="icon icon-all"></div>
            <div class="text">全部</div>
        </div>
        <div class="sort-right">
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
            <a href="javascript:;">分分时时彩</a>
        </div>
    </div>
</aside>
